{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
    {% include 'inc/logined_navbar.html' %}
{% endblock navbar %}

<! –– Question Box ––>
{% block content %}
<div class="col-9">
    <h2 style="margin-top: 10px;">New question</h2>
    <form class="form mt-5" method="POST" novalidate>

    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">Ask</button>
    {% endbuttons %}
</form>
</div>
{% endblock content %}

{% block right %}
    {% include 'inc/block_right.html' %}
{% endblock right %}