{% extends 'inc/base.html' %}
{% load static %}

{% block navbar %}
    {% include 'inc/logined_navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="col-9">

   <div class = "type-pages">
      <h2>Tag: {{ tag }}</h2>
   </div>
      {% for question in questions %}
         {% include 'inc/question_box.html' %}
      {% endfor %}

    <! –– Pagination ––>
    {% with objects=questions %}
        {% include 'inc/pagination.html' %}
    {% endwith %}
</div>
{% endblock content %}

{% block right %}
   {% include 'inc/block_right.html' %}
{% endblock right %}
