{% extends 'inc/base.html' %}
{% load static %}

{% block navbar %}
    {% include 'inc/logined_navbar.html' %}
{% endblock navbar %}


{% block content %}
<div class = "row">
    <div class = "type-pages">
        <h3><a class = "underlined" href = "{% url 'newquestions' %}" >
            New questions
        </a></h3>
    </div>
    <div class = "type-pages">
        <h2>
            Hot questions
        </h2>
    </div>
</div>

<div class="col-9">
   <! –– Question Box ––>


   {% for question in questions %}
      {% include 'inc/question_box.html' %}
   {% endfor %}

   <! –– Pagination ––>
    {% with objects=questions %}
        {% include 'inc/pagination.html' %}
    {% endwith %}
</div>
{% endblock content %}

{% block right %}
   {% include 'inc/block_right.html' %}
{% endblock right %}