{% extends 'inc/base.html' %}
{% load static %}

{% block navbar %}
    {% include 'inc/logined_navbar.html' %}
{% endblock navbar %}


{% block content %}
<div class = "row">
               <div class = "type-pages">
                  <h2>New questions</h2>
               </div>
               <div class = "type-pages">
                  <h3><a class = "underlined" href = "" >Hot questions</a></h3>
               </div>
            </div>
<div class="col-9">
   <! –– Question Box ––>


   {% for question in questions %}
      {% include 'inc/question_box.html' %}
   {% endfor %}

   <! –– Pagination ––>
   <nav aria-label="Page navigation example">
      <ul class="pagination" style="margin-top: 15px">
          {% if questions.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ questions.previous_page_number }}">{{ questions.previous_page_number }}</a></li>
          {% endif %}

          <li class="page-item"><a class="page-link" href="">{{ questions.number }}</a></li>

          {% if questions.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">{{ questions.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ questions.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ questions.paginator.num_pages }}">Last</a></li>
          {% endif %}
      </ul>
   </nav>
</div>
{% endblock content %}

{% block right %}
   {% include 'inc/block_right.html' %}
{% endblock right %}