{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
   {% include 'inc/logined_navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="col-9">
    <div class = "col">
        <h2>Log in</h2>
        <div class = "warning-title"> Sorry, wrong password </div>
    </div>
    <form class="form setting-form" method="POST" action="/signin/" enctype="" novalidate>

        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Log in</button>
        {% endbuttons %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <a class="question-tags underlined" href = "">Create new account</a>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block right %}
   {% include 'inc/block_right.html' %}
{% endblock right %}