{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block navbar %}
   {% include 'inc/logined_navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="col-9">
    <div class = "row">
        <div class = " type-pages">
            <h2>Registration</h2>
        </div>
    </div>

    {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
                <li><div class = "warning-title">{{ message.message }}</div></li>
            {% endfor %}
        </ul>
    {% endif %}

    <form class="form setting-form" method="POST" action="{% url 'signup' %}" enctype="" novalidate>

        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}

        <button type="submit" class="btn btn-primary">Register</button>
        {% endbuttons %}

        <div class="col-sm-10">
            <a class="question-tags underlined" href = "{% url 'signin' %}">Login to your account</a>
        </div>

    </form>
</div>
{% endblock content %}

{% block right %}
   {% include 'inc/block_right.html' %}
{% endblock right %}