<div class="col-3 right-side">
   <div class="col popular-tags">
      <div>
         <h3>Polular Tags</h3>
      </div>

      {% for tag in tags %}
         <h3><a href="{% url 'tagquestions' tag.title %}"> {{ tag.title }} </a></h3>
      {% endfor %}

   </div>
   <div class="col best-members">
      <div>
         <h3>Best Members</h3>
      </div>
      {% for username in best_members %}
         <p><a class = "underlined" href = "">{{ username.name }}</a></p>
      {% endfor %}
   </div>
</div>