{% load static %}

<div class="row answer-box">
    <! –– For Image ––>
    <div class="col-3">
        <img class = "question-img" src = "{% static "img/test1.jpg" %}" width = 100px height = 100px >
        <div class="row right-side">
             <input type="image" name="dislike" src="{% static "img/dislike.png" %}" alt="Submit" width="19" height="19">
             <div class="rating-title">
                 5
             </div>
             <input type="image" name="like" src="{% static "img/like.png" %}" alt="Submit" width="19" height="19">
         </div>
    </div>
    <! –– For title and text ––>
    <div class="col-9">
        <div class="question-text">
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
        </div>
        <div style="margin-top: 10px;">
            <input type="checkbox" id="isCorrest" name="isCorrect">
            <label for="isCorrest"> Correct!</label><br>
        </div>
    </div>
</div>