{% load static %}

<div class="row question-box">
      <! –– For Image ––>
      <div class="col-3">
         <img class = "question-img" src = "{% static "img/test.jpg" %}" width = 100px height = 100px >
         <div class="row right-side">
             <input type="image" name="dislike" src="{% static "img/dislike.png" %}" alt="Submit" width="19" height="19">
             <div class="rating-title">
                 5
             </div>
             <input type="image" name="like" src="{% static "img/like.png" %}" alt="Submit" width="19" height="19">
         </div>
      </div>
      <! –– For title and text ––>
      <div class="col-9">
          <a class = "question-title" href="{% url 'selectedquestion' question.id %}">{{ question.title }}</a>

         <div class="question-text">
            {{ question.text }}
         </div>
         <div class="row under-question">
            <div class = "question-answers">
               <a class = "underlined" href="{% url 'selectedquestion' question.id %}">Ответы (0)</a>
            </div>
            <div class="question-tags">

               Теги:
                {% with tags_question=question.tag %}
                    {% for tagname in tags_question %}
                        {% include 'inc/tag.html' %}
                    {% endfor %}
                {% endwith %}
            </div>
         </div>
      </div>
   </div>